{% extends "base.html" %}
{% load static %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'home/css/index.css' %}">

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center mt-3 mb-5">
            <img src="{% static 'images/logo.jpg' %}" alt="Logo" class="logo-img">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Welcome to Retro Vinyl Shop</h1>
            <p class="text-center">We are a vinyl shop based in Dublin, Ireland, offering a wide selection of new vinyl
                records and CDs. Our store is a haven for music lovers, providing a curated collection of albums across
                various genres.</p>
        </div>
    </div>


    <div id="carouselExampleFade" class="carousel slide carousel-fade custom-carousel" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for album in top_albums %}
            <div class="carousel-item {% if forloop.first %}active{% endif %} " data-bs-interval="4000">
                <img src="{{ album.image.url }}" class="d-block w-100" alt="Album Cover">
                <div class="carousel-caption">
                    <div class="card-title">
                        <p>{{ album.album_name }}<br>-<small>{{ album.main_artist}}</small></p>
                        <p></p>
                    </div>

                    <a href="{% url 'products:album_details' album.album_id %}" class="btn btn-primary">View
                        Album</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


</div>


<section class="mt-5 ms-4">
    <div class="row">
        <div class="col-md-6">
            <h2>Discover the Best Vinyl Records</h2>
            <p>At Retro Vinyl Shop, we pride ourselves on offering high-quality vinyl records and CDs from both
                renowned and emerging artists. Whether you're a fan of rock, pop, jazz, or electronic music, we have
                something for everyone.</p>
            <h3>New Arrivals</h3>
            <p>Stay up-to-date with the latest releases! Our New Arrivals section features the newest vinyl records
                and CDs hitting the shelves. Explore the freshest tunes and expand your music collection.</p>
            <h3>On Sale Now</h3>
            <p>Looking for great deals? Check out our On Sale Now section, where you'll find discounted vinyl
                records and CDs. Don't miss the chance to grab your favorite albums at unbeatable prices.</p>
            <h3>Popular Albums</h3>
            <p>Discover the albums that music enthusiasts can't get enough of! Our Popular Albums section showcases
                the top-selling and highly acclaimed records. Dive into these must-have releases and experience the
                best of the music world.</p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/hero-image/hero.jpg' %}" class="img-fluid" alt="Placeholder Image">
        </div>
    </div>
</section>

<section class="m-5 ">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Shop Online with Ease</h2>
            <p class="text-center">With our user-friendly online platform, shopping for vinyl records and CDs has
                never been easier. Browse our extensive catalog, add your favorite items to the shopping bag, and
                enjoy hassle-free delivery to your doorstep.</p>
        </div>
    </div>
</section>

<section class="m-4">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Visit Our Store</h2>
            <p class="text-center">If you're in Dublin, make sure to visit our physical store, where you can immerse
                yourself in the world of music. Our friendly staff will assist you in finding the perfect vinyl
                records or CDs to complete your collection.</p>
        </div>
    </div>
</section>

<section class="m-3">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Stay Connected</h2>
            <p class="text-center">Join our newsletter to receive updates on new releases, exclusive offers, and
                upcoming events. Follow us on social media to engage with fellow music lovers and stay connected
                with Retro Vinyl Shop.</p>
        </div>
    </div>
</section>
</div>
{% endblock %}