{% load static %}
<header class="container-fluid">
    <div id="topnav" class="row bg-white pt-lg-2">
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
            <a href="{% url 'home' %}" class="navbar-brand">
                <div class="logo-img">
                    <img src="{% static 'images/favicons/android-chrome-512x512.png' %}" alt="Logo" class="logo-img">
                </div>
                <h2 class="logo-font text-black my-0"><strong>RETRO</strong></h2>
            </a>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
            <form method="GET" action="#" class="d-flex search-bar">
                <input class="form-control me-2 border border-black rounded-0" type="text" name="q"
                    placeholder="Search our site">
                <button class="btn btn-black border border-black rounded-0" type="submit">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                </button>
            </form>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-right">
            <ul class="list-inline list-unstyled text-lg-right my-0">
                <li class="list-inline-item dropdown">
                    <a class="text-black nav-link" href="#" id="user-options-dropdown" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" aria-label="User options">
                        <div class="text-center">
                            <div class="account-icon"><i class="fas fa-user fa-lg"></i></div>
                        </div>
                        <p class="text-center my-0">My Account</p>
                    </a>
                    <div class="dropdown-menu border-0 user-options" aria-labelledby="user-options-dropdown">
                        {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                        <a href="#" class="dropdown-item">Product Management</a>
                        {% endif %}
                        <a href="#" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
                <li class="list-inline-item">
                    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                        href="#" aria-label="Shopping bag">
                        <div class="text-center">
                            <div class="bag-icon"><i class="fas fa-shopping-bag fa-lg"></i></div>
                        </div>
                        <p class="text-center my-0">
                            {% if grand_total %}
                            €{{ grand_total|floatformat:2 }}
                            {% else %}
                            €0.00
                            {% endif %}
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row bg-white">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
            <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
                aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if selected_page == 'home' %}selected-page{% endif %}" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if selected_page == 'shop' %}selected-page{% endif %}" href="#">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if selected_page == 'new_arrivals' %}selected-page{% endif %}"
                            href="#">New Arrivals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if selected_page == 'sale' %}selected-page{% endif %}" href="#">Sale</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if selected_page == 'contact' %}selected-page{% endif %}"
                            href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="delivery-banner" class="row text-center">
        <div class="col bg-info text-white">
            <h4 class="logo-font my-1">Free delivery on orders over €40!</h4>
        </div>
    </div>
</header>