{% load static%}
<form class="form mt-4" action="{% url 'cart:add_to_cart' album.album_id %}" method="POST">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-12">
            <p class="mt-3"><strong>Quantity:</strong></p>
            <div class="form-group w-50">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="decrement-qty btn  rounded-0" data-item_id="{{ album.album_id  }}"
                            id="decrement-qty_{{ album.album_id  }}">
                            <span class="icon">
                                <i class="fas fa-minus"></i>
                            </span>
                        </button>
                    </div>
                    <input class="form-control qty_input form-control-qty" type="number" name="quantity" value="1"
                        min="1" max="99" data-item_id="{{ album.album_id }}" id="id_qty_{{ album.album_id }}"
                        oninput="this.value = Math.max(this.value, 1)">
                    <div class="input-group-append">
                        <button class="increment-qty btn  rounded-0" data-item_id="{{ album.album_id  }}"
                            id="increment-qty_{{ album.album_id  }}">
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-5">
        <a href="{% url 'products:albums' %}" class="btn btn-primary rounded-0 ">
            <span class="icon">
                <i class="fa-solid fa-cart-shopping"></i>
            </span>
            <span class="text-uppercase">Keep Shopping </span>
        </a>
        <input type="submit" class="btn btn-secondary rounded-0 text-uppercase " value="Add to Cart ">
        <input type="hidden" name="redirect_url" value="{{ request.path }}">
    </div>
</form>