{% load static %}

<!-- EDIT DELETE FOR SUPERUSER -->
<div class="row d-flex justify-content-between mt-2">
    <!-- WISHLIST -->
    <div class="col-6 ">
        {% if request.user.is_authenticated %}
        <div class="">
            <a href="{% url 'accounts:add_to_wishlist' album.album_id %}" class="btn wishlist-btn rounded-pill">
                <span class="icon">
                    <i class="fa-solid fa-heart"></i>
                </span>
                <span>Wishlist</span>
            </a>
        </div>
        {% endif %}
    </div>

    <!-- DROPDOWN -->
    <div class="col-6 text-end">
        {% if request.user.is_authenticated and request.user.is_superuser %}
        <div class="dropdown">
            <button class="btn btn-third dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Edit Options
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="btn btn-warning btn-edit dropdown-item"
                        href="{% url 'products:edit_product' album.album_id %}">Edit Album</a></li>
                <li><a class="btn btn-danger btn-delete-album dropdown-item confirmationModalTrigger"
                        data-message="Are you sure you want to delete this album?"
                        data-url="{% url 'products:delete_product' album.album_id %}">Delete Album</a>
                </li>
                {% for artist in album.artists.all %}
                <li><a class="btn btn-danger btn-delete-artist dropdown-item confirmationModalTrigger"
                        data-message="Are you sure you want to delete ALL albums by this artist?"
                        data-url="{% url 'products:delete_artist' artist.artist_id %}">Delete Artist:
                        {{artist.artist_name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>