{% load static %}
{% load get_stars_filters %}
<div class="container mb-3 mt-2">
    <div class="accordion" id="mainAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingMain">
                <div class="d-flex justify-content-between">
                    <button class="accordion-button collapsed review-accordion" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseMain-{{ album.album_id }}" aria-expanded="false"
                        aria-controls="collapseMain-{{ album.album_id }}">
                        Reviews
                    </button>

                </div>
            </h2>


            <div id="collapseMain-{{ album.album_id }}" class="accordion-collapse collapse"
                aria-labelledby="headingMain" data-bs-parent="#mainAccordion">
                <!-- RATINGS -->
                <div class="p-2 ms-2">
                    <!-- <p>Rating: {{ rating.average|floatformat }}</p> -->
                    {% for rating in album.ratings.all %}
                    <span>Avg:
                        {% with stars=rating.average|get_stars %}
                        {% for _ in stars.full_stars %}
                        <i class="bi bi-star-fill"></i>
                        {% endfor %}
                        {% if stars.is_half_star %}
                        <i class="bi bi-star-half"></i>
                        {% endif %}
                        {% endwith %}
                        <p>Total Votes: {{ rating.count }}</p>
                    </span>

                    {% empty %}
                    <p>No ratings yet.</p>
                    {% endfor %}
                    {% load ratings %}
                    {% ratings album %}
                </div>
                <a href="{% url 'accounts:add_review' album.album_id %}"
                    class="btn btn-primary mt-4 ms-1 addReviewButton" data-albumId="{{ album.album_id }}">Add
                    Review</a>
                <div class="accordion-body">
                    <!-- {% load ratings %} -->
                    {% if album.reviews.all %}
                    {% for review in album.reviews.all %}
                    <div class="accordion" id="reviewAccordion{{ review.id }}">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingReview{{ review.id }}">
                                <button class="accordion-button collapsed review-accordion-button" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseReview{{ review.id }}"
                                    aria-expanded="false" aria-controls="collapseReview{{ review.id }}">
                                    Review by {{ review.customer }}
                                    <!-- {{ review.rating }} -->
                                </button>
                            </h2>
                            <div id="collapseReview{{ review.id }}" class="accordion-collapse collapse"
                                aria-labelledby="headingReview{{ review.id }}"
                                data-bs-parent="#reviewAccordion{{ review.id }}">
                                <div class="accordion-body">
                                    <p class="card-text">{{ review.review_text }}</p>
                                    <div class="review-rating">
                                        <!-- <h5>Rating</h5>
                            <p>{% ratings review %}</p> -->
                                    </div>
                                </div>
                                {% if request.user.is_superuser or request.user.is_authenticated and request.user == review.customer.user %}
                                <div class="accordion-footer">
                                    <div class="d-flex justify-content-end">

                                        <a href="{% url 'accounts:edit_review' review.id %}"
                                            class="btn btn-primary me-2">Edit review</a>
                                        <a href="{% url 'accounts:delete_review' review.id %}"
                                            class="btn btn-secondary">Delete review</a>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>No reviews yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>