{% extends "base.html" %}r
{% load static %}
{% load cart_custom_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr class="dark-hr">
            <h2 class="logo-font mb-4">Checkout</h2>
            <hr class="dark-hr">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last mb-5">
            <p class="t">Order Summary ({{ product_count }})</p>
            <div class="row">
                <div class="col-7 offset-2">
                    <p class="mb-1 mt-0 small ">Item</p>
                </div>
                <div class="col-3 text-end">
                    <p class="mb-1 mt-0 small ">Subtotal</p>
                </div>
            </div>
            {% for item in cart_items %}
            <div class="row">
                <div class="col-2 mb-1">
                    <a href="{% url 'products:album_details' item.album.id %}">
                        {% if item.album.image %}
                        <img class="w-100" src="{{ item.album.image.url }}" alt="{{ album.album_name }}">
                        {% else %}
                        <img class="w-100" src="{{ MEDIA_URL }}default_image/default.png" alt="{{ album.album_name }}">
                        {% endif %}
                    </a>
                </div>
                <div class="col-7">
                    <p class="my-0"><strong>{{ item.album.album_name }}</strong></p>

                    <p class="my-0 small ">Qty: {{ item.quantity }}</p>
                </div>
                <div class="col-3 text-end">
                    <p class="my-0 small ">€{{ item.album.price | calc_subtotal:item.quantity }}</p>
                </div>
            </div>
            {% endfor %}
            <hr class="my-0 dark-hr">
            <div class="row  text-end">
                <div class="col-7 offset-2">
                    <p class="my-0">Order Total:</p>
                    <p class="my-0">Delivery:</p>
                    <p class="my-0 text-">Grand Total:</p>
                </div>
                <div class="col-3">
                    <p class="my-0">€{{ total | floatformat:2 }}</p>
                    <p class="my-0">€{{ delivery | floatformat:2 }}</p>
                    <p class="my-0"><strong
                            class="text-decoration-underline">€{{ grand_total | floatformat:2 }}</strong></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <p class="">Please fill out the form below to complete your order</p>
            <form action="{% url 'checkout:checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small px-2 w-auto">Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                </fieldset>
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small  px-2 w-auto">Delivery</legend>
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    <div class="form-check form-check-inline float-end me-0">
                        {% if user.is_authenticated %}
                        <label class="form-check-label" for="id-save-info">Save this delivery information to my
                            profile</label>
                        <input class="form-check-input ms-2 me-0" type="checkbox" id="id-save-info" name="save-info"
                            checked>
                        {% else %}
                        <label class="form-check-label" for="id-save-info">
                            <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                            <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                        </label>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset class="px-3">
                    <legend class="fieldset-label small  px-2 w-auto">Payment</legend>
                    <!-- A Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>

                    <!-- Used to display form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                </fieldset>
                <p class="small text-danger my-0">
                    <span class="icon">
                        <i class="fas fa-exclamation-circle"></i>
                    </span>
                    <span>Your card will be charged <strong>€{{ grand_total|floatformat:2 }}</strong></span>
                </p>
                <div class="submit-button d-flex justify-content-between align-items-center mt-5 mb-2">
                    <div class="d-flex justify-content-start align-items-center">
                        <a href="{% url 'cart:view_cart' %}" class="btn adjust-btn btn-lg me-3 mb-5 ">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="font-weight-bold">Adjust Cart</span>
                        </a>

                    </div>

                    <!-- STRIPE -->
                    <form action="/create-checkout-session" method="POST">
                        <button type="submit">Checkout</button>
                    </form>

                    <button id="submit-button" class="btn mb-5 complete-btn btn-lg">
                        <span class="font-weight-bold">Complete Order</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}