/* CART CSS */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.main {
    flex: 1;
}

.overflow-hidden {
    overflow: hidden;
}

.container {
    background-color: #141529;
    color: #ffffff;
    border-radius: 0;
}

.logo-font {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 0;
    color: #fbe689;
    background: linear-gradient(to right, #f39237, #f433ab, #89f0fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card {
    border: 2px solid #fbe689;
    border-radius: 0;
}

.card-title {
    color: #141529;
}

.card-text {
    color: #ffffff;
    /* Changed this color to white */
}

.btn-primary {
    background-color: #f39237;
    border-color: #f39237;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #f433ab !important;
    border-color: #f433ab !important;
}

.btn-lg {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-checkout {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border-color: #f433ab;
    box-shadow: 0 8px 16px rgba(0.6, 0.9, 0.9, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn-checkout:hover,
.btn-checkout:active,
.btn-checkout:focus {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-color: #f433ab !important;
    background-color: rgba(137, 240, 251, 1) !important;
    color: #000000 !important;
    font-weight: bold
}

.icon {
    margin-right: 5px;
}

.text-uppercase {
    text-transform: uppercase;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table td,
.table th {
    padding: 12px 15px;
    /* padding: 0px !important; */
    border: 1px solid #ddd;
    text-align: left;
    font-size: 16px;
}

.table th {
    background-color: #f39237;
    color: white;
}

/* SHOPPING Form Input */
.qty_input {
    background-color: #202041;
    border: 1px solid #fbe689;
    color: #f39237;
    padding: 10px;
    font-weight: bold;
    width: 100px;
    height: 38px;
    text-align: center;
}

/* Button styling */
.decrement-qty,
.increment-qty {
    border: none;
    color: #fff;
    background-color: #f39237;
    height: 100%;
    transition: background-color 0.3s ease;
}

.decrement-qty:hover,
.decrement-qty:active,
.decrement-qty:focus,
.increment-qty:hover,
.increment-qty:active,
.increment-qty:focus {
    background-color: #f433ab !important;
    color: #050505 !important;
    cursor: pointer;
}

/* Update and Remove buttons */
.update-link,
.remove-item {
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    font-weight: 500;
    color: #202041;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
    width: calc(80%);
    margin: 5px;
    box-sizing: border-box;
    text-align: center;
}

.update-link {
    background-color: #fbe689;
}

.remove-item {
    background-color: #f433ab;
}

.remove-item:hover,
.remove-item:active,
.remove-item:focus {
    background-color: #f39237 !important;
    color: #202041 !important;
}

.update-link:hover,
.update-link:active,
.update-link:focus {
    background-color: rgba(137, 240, 251, 1) !important;
    color: #202041 !important;
}


@media (max-width: 600px) {

    .update-link,
    .remove-item {
        width: 40%;

    }
}



@media screen and (max-width: 600px) {
    .qty_input {
        width: 80px;
        height: 32px;
        padding: 5px;
    }

    .decrement-qty,
    .increment-qty {
        font-size: 10px;

    }

    .update-link,
    .remove-item {
        padding: 5px;
        font-size: 12px;

    }
}

@media (max-width: 430px) {


    .table thead {
        display: none;
    }

    .table tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    .table td {
        display: block;

        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
    }

    .table td:last-child {
        border-bottom: 0;
    }

    .table td:before {

        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
}