/* general.css */
/* Global Styling */

body {
    background-color: #141529;
    color: #ffffff;
}

/* Body Styling  */

.card {
    border: 2px solid #fbe689;
    border-radius: 0;
}

.card-title {
    color: #141529;
}

.card-text {
    color: #141529;
}

.btn-primary {
    background-color: #f39237;
    border-color: #f39237;
    box-shadow: 0 8px 16px rgba(0.6, 0.9, 0.9, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn-primary:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-color: #f433ab;
    border-color: #f433ab;
}

/* Messages css */
.delivery-spend {
    background-color: #f433ab;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
    color: #ffffff;
}

.me-auto {
    padding-left: 5px;
}

.success-custom-toast {
    overflow: visible;
    background-color: #141529;
    border: 2px solid #fbe689;
    color: #ffffff;
}

.toast-capper {
    height: 2px;
    background-color: #fbe689;
}

.success-toast-header {
    background-color: #fbe689;
    color: #141529;
    border-radius: 0;
}

.error-toast-header {
    background: linear-gradient(to right, rgb(253, 95, 95), #fd0202) !important;
    color: #141529;
    border-radius: 0;
}

.info-toast-header {
    background: linear-gradient(to right, #59cddf, #17a2b8) !important;
    color: #141529;
    border-radius: 0;
}

.warning-toast-header {
    background: linear-gradient(to right, #f9d568, #ffc107) !important;
    color: #141529;
    border-radius: 0;
}

.close {
    color: #141529;
}



.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #141529;
    color: #ffffff;
}

/* Define your custom button style */
.btn-custom {
    background-color: #fbe689;
    color: #141529;
    border-color: #fbe689;
}

.btn-custom:hover {
    background-color: #f433ab;
    border-color: #f433ab;
}

/* Message styling */
hr {
    border-top: 1px solid #fbe689;
}

.logo-font {
    color: #fbe689;
}