/* Global Styling */

html,
body {

    min-height: 100vh !important;
    margin: 0;
    padding: 0;
    background-color: #141529;
    color: #ffffff;
}

.wrapper {
    display: flex;
    flex-direction: column;

}

.main {
    flex: 1;
    min-height: 60vh;
}

.Vinyl-info-section {
    font: 3rem;

}

/* Mailchimp */
#mc_embed_signup {
    background: #f0eded;
    font: 14px Helvetica, Arial, sans-serif;
    color: #000;
}

.mailchimp-buttton {
    background-color: #33a4f4 !important;
}

.footer {
    padding: 20px;
    margin-top: auto;
    background-color: #757083;
    color: #ffffff;
}

/* Body Styling  */

.card {
    border: 2px solid #fbe689;
    border-radius: 0;
}

.card-title {
    color: #141529;
}

.card-text {
    color: #141529;
}

.wishlist-btn {
    background-color: #fbaee9;
    border-color: #f39237;
    box-shadow: 0 8px 16px rgba(0.6, 0.9, 0.9, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    color: rgb(223, 14, 14);
    font-weight: 500;
}

.wishlist-btn:hover,
.wishlist-btn:active,
.wishlist-btn:focus {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-color: #fcd7fc !important;
    border-color: #f87ddf !important;
    color: rgb(243, 23, 23);
    font-weight: 600;
}

.btn-primary {
    background-color: #f39237;
    border-color: #f39237;
    box-shadow: 0 8px 16px rgba(0.6, 0.9, 0.9, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-color: #fbe689 !important;
    border-color: #fbe689 !important;
    color: #000;
}

.btn-secondary {
    background-color: #f433ab;
    border-color: #f433ab;
    box-shadow: 0 8px 16px rgba(0.6, 0.9, 0.9, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}

.btn-third {
    background-color: #33e1f4;
    border-color: #33a4f4;
    box-shadow: 0 8px 16px rgba(0.6, 0.9, 0.9, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    font-weight: 500;
}

.btn-third:hover,
.btn-third:active,
.btn-third:focus {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-color: #e8ef1b !important;
    border-color: #e1db15 !important;
    font-weight: 600;
}

/* Messages css */
.delivery-spend {
    background-color: #f433ab;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
    color: #ffffff;
    max-height: 20vh;
}

.me-auto {
    padding-left: 5px;
}

.success-custom-toast {
    overflow: visible;
    background-color: #141529;
    border: 2px solid #fbe689;
    color: #ffffff;
}

.toast-capper {
    height: 2px;
    background-color: #fbe689;
}

.success-toast-header {
    background-color: #fbe689;
    color: #141529;
    border-radius: 0;
}

.error-toast-header {
    background: linear-gradient(to right, rgb(253, 95, 95), #fd0202) !important;
    color: #141529;
    border-radius: 0;
}

.info-toast-header {
    background: linear-gradient(to right, #59cddf, #17a2b8) !important;
    color: #141529;
    border-radius: 0;
}

.warning-toast-header {
    background: linear-gradient(to right, #f9d568, #ffc107) !important;
    color: #141529;
    border-radius: 0;
}

.close {
    color: #141529;
}



.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #141529;
    color: #ffffff;
}


/*  custom button style */
.btn-custom {
    background-color: #fbe689;
    color: #141529;
    border-color: #fbe689;
}

.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus {
    background-color: #f433ab !important;
    border-color: #f433ab !important;
}

/* Message styling */
hr {
    border-top: 1px solid #fbe689;
}

.logo-font {
    color: #fbe689;
}

form input {
    border-color: #000 !important;
    border-radius: 0;
}

form input::placeholder {
    color: #aab7c4 !important;
}

form input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

form input[type='submit']:hover,
form input[type='submit']:active,
form input[type='submit']:focus {

    border-color: #222 !important;
}

form input[name='q']::placeholder {
    color: #aab7c4;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
    background-color: #0dcaf0;
    font-weight: 500;
}

.btn-file:hover,
.btn-file:focus,
.btn-file:active {
    background-color: #caf7ff;
    color: #000;
    font-weight: 700;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;

}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.modal-header {
    background-color: #caf7ff;
}