/* Header Styling */
.logo-img {
    height: 64px;
    width: 64px;
    margin-right: 8px;
}

.banner-font {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 0;
    background: #facc00;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.logo-font {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 0;
    /* Fallback color: in Global css */
    color: #fbe689;
    background: linear-gradient(to right, #f39237, #f433ab, #89f0fb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #000000;
    margin: 0 10px;
}

.navbar-toggler {
    margin-left: auto;
}

.dropdown-menu {
    padding: 0px !important;
    min-width: 0px !important;
    border: 3px solid #fbe689 !important;
    background: #202041 !important;
    color: #fcfcfc !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold !important;
    font-size: 16px !important;
    padding: 12px !important;
}


.genre-form-select {
    border: 3px solid #fbe689 !important;
    background: #202041 !important;
    color: #fcfcfc !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold !important;
    font-size: 16px !important;
    padding: 12px !important;

}

.bs-dropdown-min-width {
    min-width: 0px !important;
}

.dropdown-item {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
    color: #ffffff;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar .ml-auto {
    margin-left: auto !important;
}

.navbar .list-inline-item {
    margin-left: 16px;
}

.navbar .text-white {
    color: #ffffff !important;
}

.navbar-toggler {
    margin-right: 16px;
}

/* Additional Styling */
.selected-page>a {
    color: #f433ab;
    border-bottom: 2px solid #f433ab;
    font-weight: 600;
}

button.nav-link:focus,
button.nav-link:active,
button.nav-link:hover,
    {
    color: #20cbff;
    border-bottom: 2px solid #20cbff;
    font-weight: 600;
}




.account-icon,
.cart-icon {

    color: #f39237;
}

.user-options {
    display: none;
}

.user-options.show {
    display: block;
}

/* Custom Styling */
.search-bar input {
    background-color: #ffffff;
    color: #000000;
    border-color: #f39237;
}

.search-bar button {
    background-color: #f39237;
    border-color: #f39237;
}

.search-bar button:hover,
.search-bar button:active,
.search-bar button:focus {
    background-color: #f433ab !important;
    border-color: #f433ab !important;
}

.banner {
    margin-top: 0;
    padding: 0;
    background: #a93f55;
}

#delivery-banner {
    margin-top: 0;
}