/* navbar.css */
/* Header Styling */
.logo-img {
    height: 64px;
    width: 64px;
    margin-right: 8px;
}

.banner-font {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 0;
    background: #f433ab;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.logo-font {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 0;
    /* Fallback color: #fbe689; */
    color: #fbe689;
    background: linear-gradient(to right, #f39237, #f433ab, #89f0fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000000;
}

.navbar-toggler {
    margin-left: auto;
}

.genre-form-select,
.dropdown-menu {
    font-weight: bold;
    min-width: 200px;
    /* padding-left: 16px; */
    /* background: linear-gradient(to right, #fefeff, #c0cbf9, #f39237); */
    background: linear-gradient(to right, rgba(251, 230, 137, 0.9), rgba(244, 51, 171, 0.9), rgba(137, 240, 251, 0.9));

}

.dropdown-item {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
    color: #000000;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar .ml-auto {
    margin-left: auto !important;
}

.navbar .list-inline-item {
    margin-left: 16px;
}

.navbar .text-white {
    color: #ffffff !important;
}

.navbar-toggler {
    margin-right: 16px;
}

/* Additional Styling */
.selected-page {
    color: #f433ab;
    border-bottom: 2px solid #f433ab;
}

.account-icon,
.bag-icon {
    margin: 0 8px;
    color: #f39237;
}

.user-options {
    display: none;
}

.user-options.show {
    display: block;
}

/* Custom Styling */
.search-bar input {
    background-color: #ffffff;
    color: #000000;
    border-color: #f39237;
}

.search-bar button {
    background-color: #f39237;
    border-color: #f39237;
}

.search-bar button:hover {
    background-color: #f433ab;
    border-color: #f433ab;
}

.banner {
    margin-top: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(192, 203, 249, 1));
}

#delivery-banner {
    margin-top: 0;
}