{% extends "base.html" %}
{% load static %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'accounts/css/products.css' %}">

{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h1>Edit Review</h1>
                </div>
                <div class="card-body">
                    <form method="post" class="needs-validation" novalidate>
                        {% csrf_token %}
                        {{ form.media }}
                        <div class="mb-3">
                            {{ form.as_p }}
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block postloadjs %}

{% endblock %}