{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="overlay">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <hr>
                <h2 class="logo-font mb-4">My Profile</h2>
                <hr>
            </div>
        </div>
        <!-- USER PROFILE INFO -->
        {% include "accounts/includes/profile_info.html"%}

        <!-- ORDER HISTORY -->
        {% include "accounts/includes/orders.html"%}

        <!-- WISHLIST -->
        {% include "accounts/includes/wishlist.html"%}

        <!-- REQUESTS -->
        {% include "accounts/includes/requests.html"%}

    </div>

</div>
</div>



{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'accounts/js/countryfield.js' %}"></script>
{% endblock %}