.spotify_link {
    text-decoration: underline;
    color: rgb(30, 215, 96);
}

.spotify_icon {
    color: rgb(30, 215, 96);
    margin-left: 5px;
    text-decoration: none;
}

.detail_spotify_link {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.spotify_link_text {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.album_listing,
.track_listing {
    display: flex;
    align-items: center;
    min-width: 0;
    padding-top: 5px;
    margin-top: 5px;
}

.album_name,
.track_name {
    flex: 1;
    min-width: 0;

    word-wrap: break-word;

}


ul {
    padding-left: 0;
}

/* SEARCH RESULTS CSS */
.search-results {
    background-color: #202041;

    border: 1px solid #fbe689;
    border-radius: 5px;
    padding: 10px;

    margin-bottom: 10px;

}

.search-results p {
    color: #ffffff;

}

.search-results a {
    color: #f39237;

    text-decoration: underline;

}

.search-results a:hover {
    color: #f433ab;

}

.search-results strong {
    color: #fbe689;

}