.spotify_link {
    text-decoration: underline;
    color: rgb(30, 215, 96);
}

.spotify_icon {
    color: rgb(30, 215, 96);
    margin-left: 5px;
    text-decoration: none;
}

.detail_spotify_link {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.spotify_link_text {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.album_listing,
.track_listing {
    display: flex;
    align-items: center;
    min-width: 0;
    padding-top: 5px;
    margin-top: 5px;
}

.album_name,
.track_name {
    flex: 1;
    min-width: 0;

    word-wrap: break-word;

}


ul {
    padding-left: 0;
}

/* SEARCH RESULTS CSS */
.search-results {
    background-color: #202041;

    border: 1px solid #fbe689;
    border-radius: 5px;
    padding: 10px;

    margin-bottom: 10px;

}

.search-results p {
    color: #ffffff;

}

.search-results a {
    color: #f39237;

    text-decoration: underline;

}

.search-results a:hover {
    color: #f433ab;

}

.search-results strong {
    color: #fbe689;

}

/* STLYING FOR SELECT BOX */

.sort-select-wrapper {
    width: 100%;
    padding: 10px;
    margin: 10px;
    display: flex;

    justify-content: center;
}

.custom-select {
    background: linear-gradient(to right, rgba(251, 230, 137, 1), rgba(244, 51, 171, 1), rgba(137, 240, 251, 1));
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 100%;

    max-width: 200px;

    margin: 0 auto;
}

/* STLYING FOR BACK TO TOP BUTTON */
.btt-button {
    height: 54px;
    width: 54px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    border-radius: 50%;
    background-color: #fab5ed;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 0px 3px rgba(137, 240, 251, 1), 0px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1;
}

.btt-button::before {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: linear-gradient(to right, rgba(251, 230, 137, 0.5), rgba(244, 51, 171, 0.5), rgba(137, 240, 251, 0.5));
    border-radius: inherit;
    z-index: -1;
}

.btt-button:hover {
    color: #000000;
    box-shadow: 0px 0px 0px 4px rgba(137, 240, 251, 1), 0px 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.btt-link {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.btt-link svg {
    fill: currentColor;
}

.btt-button:hover .btt-link {
    color: #050505;
}

/* Pagination */

.floating-search-results {
    position: fixed;
    bottom: 1rem;

    left: 1rem;

    width: 400px;

    z-index: 1000;

}

@media (max-width: 768px) {
    .floating-search-results {
        left: 0;
        width: 300px;
    }
}

/* SHOPPING Form Input */
.form-control-qty {
    background-color: #202041;
    border: 1px solid #fbe689;
    color: #f39237;
    padding: 10px;
    font-weight: bold;
    max-width: 100px;
}

/* Button styling */
.btn {
    background-color: #f39237;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #f433ab;
    color: #050505;
}

.btn-black {
    background-color: #000;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-black:hover {
    background-color: #444;
    color: #fff;
}