{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock %}

<footer class="container-fluid  footer text-white mt-3">
    <div class="row">
        <div class="col-12 col-lg-4 mt-3">
            <h5>Connect with Us</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" class="text-white">
                        <i class="fab fa-facebook" style="color: #5b7ec8;"></i> Facebook
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer" class="text-white">
                        <i class="fab fa-twitter" style="color: #1da1f2;"></i> Twitter
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" class="text-white">
                        <i class="fab fa-instagram" style="color: #c13584;"></i> Instagram
                    </a>
                </li>
                <li>
                    <a href="https://www.spotify.com/" target="_blank" rel="noopener noreferrer" class="text-white">
                        <i class="fab fa-spotify" style="color: #1db954;"></i> Spotify
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-4 mt-3">
            <h5>Useful Links</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="{% url 'privacy_policy' %}" rel="noopener noreferrer" class="text-white">Privacy
                        Statement</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-4 mt-3">
            <h5>Contact Us</h5>
            <ul class="list-unstyled">
                <li>Email: forgottenitretro@gmail.com</li>
                <li>Phone: 123-456-7890</li>
                <li>Address: 123 Main Street,Dublin City, Ireland</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p>&copy; 2023 Retro. For Educational Purposes.</p>
        </div>
    </div>
</footer>