{% load static %}

{% block extra_css %}

<link rel="stylesheet" href="#">


{% endblock %}

<footer class="container-fluid bg-dark text-white mt-3">
    <div class="row ">
        <div class="col-12 col-lg-4 mt-3">
            <h5>Connect with Us</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-facebook"></i> Facebook
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-twitter"></i> Twitter
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-instagram"></i> Instagram
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-spotify"></i> Spotify
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-4 mt-3">
            <h5>Useful Links</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="#" rel="noopener noreferrer">Privacy Statement</a>
                </li>
                <li>
                    <a href="#" rel="noopener noreferrer">Terms of Service</a>
                </li>
                <li>
                    <a href="#" rel="noopener noreferrer">FAQ</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-4 mt-3">
            <h5>Contact Us</h5>
            <ul class="list-unstyled">
                <li>Email: info@example.com</li>
                <li>Phone: 123-456-7890</li>
                <li>Address: 1234 Main Street, City, Country</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p>&copy; 2023 Retro. For Educational Purposes.</p>
        </div>
    </div>
</footer>