{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock %}

<footer class="container-fluid  footer text-white mt-3">
    <div class="row justify-content-between">
        <div class="col-12 col-md-6 col-lg-3 mt-3">
            <h5>Connect with Us</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" class="text-white">
                        <i class="fab fa-facebook" style="color: #5b7ec8;"></i> Facebook
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer" class="text-white">
                        <i class="fab fa-twitter" style="color: #1da1f2;"></i> Twitter
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" class="text-white">
                        <i class="fab fa-instagram" style="color: #c13584;"></i> Instagram
                    </a>
                </li>
                <li>
                    <a href="https://www.spotify.com/" target="_blank" rel="noopener noreferrer" class="text-white">
                        <i class="fab fa-spotify" style="color: #1db954;"></i> Spotify
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mt-3">
            <h5>Useful Links</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="{% url 'privacy_policy' %}" rel="noopener noreferrer" class="text-white">Privacy
                        Statement</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mt-3">
            <h5>Subscribe To Our Newsletter!</h5>
            <div id="mc_embed_shell">
                <div id="mc_embed_signup">
                    <form
                        action="https://herokuapp.us14.list-manage.com/subscribe/post?u=16ac59ea9a8854c9fd5213556&amp;id=362f06d930&amp;f_id=00c9aee0f0"
                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                        target="_blank">
                        <div id="mc_embed_signup_scroll">

                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
                                        class="asterisk">*</span></label><input type="email" name="EMAIL"
                                    class="required email" id="mce-EMAIL" required="" value=""><span
                                    id="mce-EMAIL-HELPERTEXT" class="helper_text"></span></div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display: none;"></div>
                                <div class="response" id="mce-success-response" style="display: none;"></div>
                            </div>
                            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                /* real people should not fill this in and expect good things - do not remove this or
                                risk form bot signups */
                                <input type="text" name="b_16ac59ea9a8854c9fd5213556_362f06d930" tabindex="-1" value="">
                            </div>
                            <div class="optionalParent">
                                <div class="clear foot">
                                    <input type="submit" name="subscribe" id="mc-embedded-subscribe"
                                        class="button mailchimp-buttton btn btn-primary" value="Subscribe">
                                    <p class="brandingLogo" style="margin: 0px auto;"><a href="http://eepurl.com/ivI2Rw"
                                            title="Mailchimp - email marketing made easy and fun"><img
                                                src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"
                                                alt="referral badge"></a></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mt-3">
            <h5>Contact Us</h5>
            <ul class="list-unstyled">
                <li>Email: forgottenitretro@gmail.com</li>
                <li>Phone: 123-456-7890</li>
                <li>Address: 123 Main Street,Dublin City, Ireland</li>
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 text-center">
            <p>&copy; 2023 Retro. For Educational Purposes.</p>
        </div>
    </div>
</footer>