{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/allauth.css' %}">

{% endblock %}

{% load account socialaccount %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}

<hr>
<h2 class="logo-font mb-4 text-center">{% trans "Confirm E-mail Address" %}</h2>
<hr>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% if confirmation %}

            {% user_display confirmation.email_address.user as user_display %}

            <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a
                    href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user
                {{ user_display }}.{% endblocktrans %}</p>

            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                <div class="text-center mt-4 mb-4">
                    <button class="btn btn-primary btn-lg col-6 mx-auto" type="submit">{% trans 'Confirm' %}</button>
                </div>
            </form>

            {% else %}

            {% url 'account_email' as email_url %}

            <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a
                    href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

            {% endif %}
        </div>
    </div>
</div>

{% endblock %}