{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<hr>
<h2 class="logo-font mb-4">{% trans "Sign In" %}</h2>
<hr>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {% crispy form %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="text-center mt-3">
    <a class="btn btn-light" href="{% url 'home' %}">{% trans "Home" %}</a>
    <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
  </div>
  <p class="text-center mt-2">
    <a class="btn btn-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </p>
</form>

{% endblock %}