{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <hr>
            <h2 class="logo-font mb-4 text-center">{% trans "Password Reset" %}</h2>
            <hr>

            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p class="text-center">
                {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
            </p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center mt-4 mb-4">
                    <button class="btn btn-primary btn-lg col-6 mx-auto"
                        type="submit">{% trans 'Reset My Password' %}</button>
                </div>
                <p class="text-center mt-4 mb-4">
                    <a class="btn btn-secondary btn-lg col-6 mx-auto" href="{% url 'home' %}">
                        {% trans "Home" %}
                    </a>
                </p>
            </form>

            <p class="text-center">{% blocktrans %}Please contact us if you have any trouble resetting your
                password.{% endblocktrans %}</p>
        </div>
    </div>
</div>

{% endblock %}