{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}"
        crossorigin="use-credentials">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}"
        crossorigin="use-credentials">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}"
        crossorigin="use-credentials">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" crossorigin="use-credentials">
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon" crossorigin="use-credentials">

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Ireland's top online store for music lovers of vinyl records with fast, reliable shipping and delivery. Check out our extensive collection and find your favorite artists and albums today.">
    {% endblock %}

    {% block corecss %}
    <!-- MAILCHIMP -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- Google Fonts  -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- GLOBAL CSS -->
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <!-- star-ratings -->
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <!-- MAILCHIMP -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">

    {% endblock %}

    {% block extra_css %}

    {% endblock %}

    {% block corejs %}
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- jquery and Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- star-ratings -->
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <!-- MAILCHIMP -->
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    {% endblock %}

    <title>Retro {% block extra_title %}Ireland's Best Online Vinyl Store{% endblock %}</title>
</head>

<body>
    <div class="wrapper">
        {% include "includes/nav-bar.html" %}

        {% if messages %}
        <div class="message-container">
            {% for message in messages %}
            {% with message.level as level %}
            {% if level == 40 %}
            {% include 'includes/toasts/toast_error.html' %}
            {% elif level == 30 %}
            {% include 'includes/toasts/toast_warning.html' %}
            {% elif level == 25 %}
            {% include 'includes/toasts/toast_success.html' %}
            {% else %}
            {% include 'includes/toasts/toast_info.html' %}
            {% endif %}
            {% endwith %}
            {% endfor %}
        </div>
        {% endif %}
        <main class="main">
            {% block page_header %}
            {% endblock %}

            {% block content %}
            {% endblock %}
        </main>
    </div>
    {% include "includes/footer.html" %}


    {% block postloadjs %}

    <script type="text/javascript">
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl, {
                autohide: false
            })
        });
        toastList.forEach(toast => toast.show());
    </script>

    <script>
        // Remove messages after 8 seconds
        setTimeout(function () {
            let messageContainer = document.querySelector('.message-container');
            if (messageContainer) {
                messageContainer.remove();
            }
        }, 8000);
    </script>
    <!-- Mailchimp Scripts -->
    <!-- <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js">
    </script>
    <script type="text/javascript">
        (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = EMAIL;
            ftypes[0] = merge;, fnames[1] = FNAME;
            ftypes[1] = merge;, fnames[2] = LNAME;
            ftypes[2] = merge;, fnames[3] = ADDRESS;
            ftypes[3] = merge;, fnames[4] = PHONE;
            ftypes[4] = merge;, fnames[5] = BIRTHDAY;
            ftypes[5] = merge;
            false
        }(jQuery));
    </script> -->
    {% endblock %}


</body>

</html>