{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center mt-5">{% trans "Sign Up" %}</h1>

  <p class="text-center">{% trans "Already have an account? Then please" %} <a
      href="{% url 'account_login' %}">{% trans "sign in" %}</a>.</p>

  <form class="signup-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {% crispy form %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="text-center mt-3">
      <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </div>
  </form>
</div>

{% endblock %}