{% load static %}
<!-- ORDER HISTORY -->
<div class="row justify-content-center">
    <div class="col-12 col-lg-8 mt-4">
        <div class="accordion" id="profileAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button button-heading collapsed profile-dropdown-header" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
                        aria-controls="collapseOne">
                        <p class="text-light logo-font">Order History</p>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#profileAccordion">
                    <div class="accordion-body">
                        <div class="order-history table-responsive">
                            <table class="table table-sm table-striped table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Order Number</th>
                                        <th>Date</th>
                                        <th>Items</th>
                                        <th>Order Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td>
                                            <a class="text-info"
                                                href="{% url 'accounts:order_history' order.order_number %}"
                                                title="{{ order.order_number }}">
                                                {{ order.order_number|truncatechars:6 }}
                                            </a>
                                        </td>
                                        <td>{{ order.date }}</td>
                                        <td>
                                            <ul class="list-unstyled">
                                                {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {{ item.album.album_name }} x{{ item.quantity }}
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td class="text-success fw-bold">€{{ order.grand_total }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>