{% extends 'base.html' %}
{% load static %}
{% block content %}

{% for album in albums %}
<div class="album-details">
    <h1>Album Information:</h1>
    <h2>Name: {{ album.album_data.name }}</h2>
    <h2>Release Date: {{ album.album_data.release_date }}</h2>
    <h2>Total Tracks: {{ album.album_data.total_tracks }}</h2>
    <h2>Popularity: {{ album.album_data.popularity }}</h2>

    <h1>Artists:</h1>
    <ul class="artist-list">
        {% for artist in album.album_artists %}
        <li>
            <h2>Name: {{ artist.name }}</h2>
            <a href="{{ artist.external_urls.spotify }}">Spotify URL</a>
        </li>
        {% endfor %}
    </ul>

    <h1>Tracks:</h1>
    <ul class="track-list">
        {% for track in album.album_tracks %}
        <li>
            <h2>Name: {{ track.name }}</h2>
            <h2>Duration: {{ track.duration_ms }} ms</h2>
            <a href="{{ track.external_urls.spotify }}">Spotify URL</a>
        </li>
        {% endfor %}
    </ul>

    <h1>Images:</h1>
    <div class="image-list">
        {% for image in album.album_data.images %}
        <img src="{{ image.url }}" alt="Album Image" width="{{ image.width }}" height="{{ image.height }}">
        {% endfor %}
    </div>
</div>
{% endfor %}

<a href="{% url 'update-albums' %}">Update Albums</a>



<div class="album-details">
    <h1>Album Information:</h1>
    <h2>Name: {{ album_data.name }}</h2>
    <h2>Release Date: {{ album_data.release_date }}</h2>
    <h2>Total Tracks: {{ album_data.total_tracks }}</h2>
    <h2>Popularity: {{ album_data.popularity }}</h2>

    <h1>Artists:</h1>
    <ul class="artist-list">
        {% for artist in album_artists %}
        <li>
            <h2>Name: {{ artist.name }}</h2>
            <a href="{{ artist.external_urls.spotify }}">Spotify URL</a>
        </li>
        {% endfor %}
    </ul>

    <h1>Tracks:</h1>
    <ul class="track-list">
        {% for track in album_tracks %}
        <li>
            <h2>Name: {{ track.name }}</h2>
            <h2>Duration: {{ track.duration_ms }} ms</h2>
            <a href="{{ track.external_urls.spotify }}">Spotify URL</a>
        </li>
        {% endfor %}
    </ul>

    <h1>Images:</h1>
    <div class="image-list">
        {% for image in album_data.images %}
        <img src="{{ image.url }}" alt="Album Image" width="{{ image.width }}" height="{{ image.height }}">
        {% endfor %}
    </div>
</div>

{% endblock %}