/* general.css */
/* Global Styling */

body {
    background-color: #141529;
    color: #ffffff;
}

/* Body Styling */
.sales-section,
.delivery-section,
.other-section {
    margin-top: 32px;
    margin-bottom: 32px;
}

.carousel-caption {
    background-color: #fbe689;
    padding: 16px;
}

.carousel-caption h5 {
    color: #141529;
}

.carousel-caption p {
    color: #141529;
}

.banner {
    background-color: #141529;
    padding: 16px;
}

.banner-text {
    color: #ffffff;
    font-weight: bold;
}

.card {
    border: 2px solid #fbe689;
    border-radius: 0;
}

.card-title {
    color: #141529;
}

.card-text {
    color: #141529;
}

.btn-primary {
    background-color: #f39237;
    border-color: #f39237;
}

.btn-primary:hover {
    background-color: #f433ab;
    border-color: #f433ab;
}

#delivery-banner {
    margin-top: 0;
}