/* navbar.css */
/* Header Styling */
.logo-img {
    height: 64px;
    width: 64px;
    margin-right: 8px;
}

.logo-font {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 0;
    color: #fbe689;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000000;
}

.navbar-toggler {
    margin-left: auto;
}

.dropdown-menu {
    min-width: 200px;
    padding-left: 16px;
    background-color: #141529;
}

.dropdown-item {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
    color: #ffffff;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar .ml-auto {
    margin-left: auto !important;
}

.navbar .list-inline-item {
    margin-left: 16px;
}

.navbar .text-white {
    color: #ffffff !important;
}

.navbar-toggler {
    margin-right: 16px;
}

/* Additional Styling */
.selected-page {
    color: #f433ab;
    border-bottom: 2px solid #f433ab;
}

.account-icon,
.bag-icon {
    margin: 0 8px;
    color: #f39237;
}

.user-options {
    display: none;
}

.user-options.show {
    display: block;
}

/* Custom Styling */
.search-bar input {
    background-color: #ffffff;
    color: #000000;
    border-color: #f39237;
}

.search-bar button {
    background-color: #f39237;
    border-color: #f39237;
}

.search-bar button:hover {
    background-color: #f433ab;
    border-color: #f433ab;
}