{% extends 'base.html' %}
{% load static %}
{% load products_custom_filters %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'products/css/products.css' %}">

{% endblock %}


{% block content %}
<!-- <a href="{% url 'fixtures:update_albums' %}" class="btn btn-primary">Update Albums</a>

<form method="POST" action="{% url 'fixtures:update_albums' %}" class="my-4">
    {% csrf_token %}
    <div class="input-group">
        <input type="text" name="artist_name" class="form-control" placeholder="Enter artist name...">
        <button type="submit" class="btn btn-primary">Update Albums</button>
    </div>
</form> -->

<!-- <a href="{% url 'product_data:load_albums' %}" class="btn btn-primary">Update Albums</a> -->

<form method="POST" action="{% url 'product_data:load_albums' %}" class="my-4">
    {% csrf_token %}
    <p>LOAD MODELS : </p>
    <div class="input-group">

        <input type="text" name="artist_name" class="form-control" placeholder="Enter artist name...">
        <button type="submit" class="btn btn-primary"> LOAD Albums </button>
    </div>
</form>


{% if search_term %}
<h4>You searched for "{{ search_term }}".</h4>
{% endif %}
{% if genre %}
<h4>You searched for "{{ genre }}".</h4>
{% endif %}
{% if current_sorting_display %}
<h4>You sorted by {{ current_sorting_display }}.</h4>
{% endif %}



<div class="container">

    <div class="row mt-1 mb-2">
        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
            <div class="sort-select-wrapper">
                <select id="sort-selector"
                    class="custom-select custom-select-sm rounded-0 border{% if current_sorting != 'None_None' %} border-info{% else %} border-black{% endif %}">
                    <option value="reset " disabled {% if current_sorting == 'None_None' %}selected{% endif %}>Sort
                        by...
                    </option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to
                        high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high
                        to low)</option>
                    <option value="popularity_asc" {% if current_sorting == 'popularity_asc' %}selected{% endif %}>
                        Rating (low to high)</option>
                    <option value="popularity_desc" {% if current_sorting == 'popularity_desc' %}selected{% endif %}>
                        Rating (high to low)</option>
                    <option value="album_name_asc" {% if current_sorting == 'album_name_asc' %}selected{% endif %}>Album
                        (A-Z)</option>
                    <option value="album_name_desc" {% if current_sorting == 'album_name_desc' %}selected{% endif %}>
                        Album (Z-A)</option>
                    <option value="artists_asc" {% if current_sorting == 'artists_asc' %}selected{% endif %}>Artist
                        (A-Z)</option>
                    <option value="artists_desc" {% if current_sorting == 'artists_desc' %}selected{% endif %}>Artist
                        (Z-A)</option>
                </select>
            </div>
        </div>

        <div class="col-12 col-md-6 order-md-first search-results">
            <p class="mt-3 text-center text-md-left">
                {% if search_term or current_sorting  != 'None_None' or genre %}
                <span class="small"><a href="{% url 'products:albums' %}">Reset Albums</a> | </span>
                {% endif %}
                {% with albums.paginator.count as total_albums %}
                {{ total_albums }} Albums
                {% endwith %}
                {% if search_term %}
                found for <strong>"{{ search_term }}"</strong>
                {% endif %}
                {% if genre %}
                {% if search_term %} and {% else %} found in {% endif %}
                <strong>"{{ genre }}"</strong>
                <span>Genres</span>
                {% endif %}
                {% if current_sorting_display %}
                <span class="small"> | Sorted by: {{ current_sorting_display }}</span>
                {% endif %}
            </p>
        </div>
    </div>

    <!-- PAGINATION  -->

    <!-- <div class="d-flex justify-content-center my-4 floating-search-results">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if albums.has_previous %}
                <li class="page-item"><a class="page-link"
                        href="?{{ params }}&page={{ albums.previous_page_number }}">Previous</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}

                {% for i in albums.paginator.page_range %}
                {% if albums.number == i %}
                <li class="page-item active"><a class="page-link" href="?{{ params }}&page={{ i }}">{{ i }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?{{ params }}&page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}

                {% if albums.has_next %}
                <li class="page-item"><a class="page-link"
                        href="?{{ params }}&page={{ albums.next_page_number }}">Next</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}

            </ul>
        </nav>
    </div> -->

    <!-- PAGINATION -->
    <div class="d-flex justify-content-center  floating-pagination-results">
        <nav aria-label="Page navigation">
            <ul class="pagination">

                {% if albums.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?{{ params }}&page={{ albums.previous_page_number }}">
                        <span class="d-none d-lg-inline">Previous</span>
                        <span class="d-inline d-lg-none"><span class="bi bi-arrow-left"></span></span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        <span class="d-none d-lg-inline">Previous</span>
                        <span class="d-inline d-lg-none"><span class="bi bi-arrow-left"></span></span>
                    </a>
                </li>
                {% endif %}

                {% get_page_range albums.number albums.paginator.num_pages as page_range %}
                {% for i in page_range %}
                {% if i %}
                {% if albums.number == i %}
                <li class="page-item active">
                    <a class="page-link" href="?{{ params }}&page={{ i }}">{{ i }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?{{ params }}&page={{ i }}">{{ i }}</a>
                </li>
                {% endif %}
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">...</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if albums.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?{{ params }}&page={{ albums.next_page_number }}">
                        <span class="d-none d-lg-inline">Next</span>
                        <span class="d-inline d-lg-none"><i class="bi bi-arrow-right"></i></span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        <span class="d-none d-lg-inline">Next</span>
                        <span class="d-inline d-lg-none"><i class="bi bi-arrow-right"></i></span>
                    </a>
                </li>
                {% endif %}

            </ul>
        </nav>
    </div>

    {% regroup albums by artists.all.first as albums_by_artist %}

    {% for artist in albums_by_artist %}
    <h1 class="mt-4 mb-3">{{ artist.grouper }}</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 g-4 align-items-stretch ">
        {% for album in artist.list %}
        <div class="col">
            <div class="card h-100">
                {% if album.image %}
                <a href="{% url 'products:album_details' album.album_id %}">
                    <img class="card-img-top" src="{{ album.image.url }}" alt="Album Image">
                </a>
                {% else %}
                <img class="card-img-top" src="{{ MEDIA_URL }}default_image/default.png" alt="Default Image">
                {% endif %}

                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ album.album_name }}</h5>

                    <button class="btn btn-primary mt-auto" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false"
                        aria-controls="collapse{{ forloop.counter }}">Details</button>
                    <div class="collapse" id="collapse{{ forloop.counter }}">
                        <div class="mt-2 p-2 border-top">
                            {% if album.spotify_url %}
                            <div class="album_listing">
                                <p class="album_name">
                                    <strong>Album: {{ album.album_name }} </strong>
                                </p>
                                <p>
                                    <a href="{{ album.spotify_url }}" target="_blank" rel="noopener noreferrer"
                                        class="spotify_link">
                                        <span class="spotify_link_text">Spotify</span>
                                        <i class="fab fa-spotify spotify_icon"></i>
                                    </a>
                                </p>

                                {% endif %}
                            </div>
                            <!-- <li class="track_listing">
                                <div class="me-auto track_info">
                                    <span class="me-2">{{ track.track_number }}</span>
                                    <span>{{ track.track_name }}</span>
                                </div>

                            {% if track.spotify_url %}
                                    <div>
                                        <a href="{{ track.spotify_url }}" target="_blank" rel="noopener noreferrer"
                                            class="spotify_link">
                                            <span class="spotify_link_text">Spotify</span>
                                            <i class="fab fa-spotify spotify_icon"></i>
                                        </a>
                                    </div>
                                    {% endif %} -->
                            {% if album.artist_count > 1 %}
                            <p class="d-flex justify-content-between">
                                <strong>Artists: </strong>
                                {% for artist in album.artists.all %}
                                {% if artist.spotify_url %}
                                <strong>{{ artist.artist_name }}</strong>
                                <a href="{{ artist.spotify_url }}" target="_blank" rel="noopener noreferrer"
                                    class="spotify_link">

                                    <i class="fab fa-spotify" class="spotify_icon"></i>
                                </a>{% if not forloop.last %}, {% endif %}
                                {% endif %}
                                {% endfor %}
                            </p>
                            {% else %}
                            {% for artist in album.artists.all %}
                            {% if artist.spotify_url %}
                            <p class="d-flex justify-content-between"><strong>Artist: {{ artist.artist_name }} </strong>
                                <a href="{{ artist.spotify_url }}" target="_blank" rel="noopener noreferrer"
                                    class="spotify_link">
                                    <span class="spotify_link_text">Spotify</span>
                                    <i class="fab fa-spotify" class="spotify_icon"></i>
                                </a>
                            </p>
                            {% endif %}
                            {% endfor %}
                            {% endif %}

                            <p><strong>Release Date:</strong> {{ album.release_date }}</p>
                            <p><strong>Copyrights:</strong> {{ album.copyrights }}</p>
                            <p><strong>Total Tracks:</strong> {{ album.total_tracks }}</p>
                            <p><strong>Popularity:</strong> {{ album.popularity }}</p>
                            <p><strong>Album ID:</strong> {{ album.album_id }}</p>
                            <p><strong>Album Type:</strong> {{ album.album_type|capfirst }}</p>
                            <p><strong>Label:</strong> {{ album.label }}</p>
                            <p><strong>Price:</strong> €{{ album.price }}</p>

                            {% if album.genres.all %}
                            <p><strong>Genres:</strong>
                                {% for genre in album.genres.all %}
                                {{ genre.name|capfirst  }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            {% endif %}
                            {% if album.tracks.all %}
                            <p><strong>Tracks:</strong></p>
                            <ul>
                                {% for track in album.tracks.all %}
                                <li class="track_listing">
                                    <div class="me-auto track_name">
                                        <span class="me-2">{{ track.track_number }}</span>
                                        <span>{{ track.track_name }}</span>
                                    </div>
                                    {% if track.spotify_url %}
                                    <div>
                                        <a href="{{ track.spotify_url }}" target="_blank" rel="noopener noreferrer"
                                            class="spotify_link">
                                            <span class="spotify_link_text">Spotify</span>
                                            <i class="fab fa-spotify spotify_icon"></i>
                                        </a>
                                    </div>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

    {% endfor %}
    <!-- <div class="d-flex justify-content-center my-4">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if albums.has_previous %}
                <li class="page-item"><a class="page-link"
                        href="?{{ params }}&page={{ albums.previous_page_number }}">Previous</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}

                {% for i in albums.paginator.page_range %}
                {% if albums.number == i %}
                <li class="page-item active"><a class="page-link" href="?{{ params }}&page={{ i }}">{{ i }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?{{ params }}&page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}

                {% if albums.has_next %}
                <li class="page-item"><a class="page-link"
                        href="?{{ params }}&page={{ albums.next_page_number }}">Next</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}

            </ul>
        </nav>
    </div> -->
</div>
<rect>
    <animate attributeName="opacity" from="1" to="0" dur="20s" repeatCount="indefinite" />
</rect>
<div class="btt-button">
    <a href="#" class="btt-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="currentColor" class="bi bi-arrow-up"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M8 12a.5.5 0 0 0 .5-.5V5.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
        </svg>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sort-selector').on('change', function () {
            const selector = $(this);
            const currentUrl = new URL(window.location.href);
            const selectedVal = selector.val();

            if (selectedVal === "reset") {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");
                window.location.assign(currentUrl.href);
                return;
            }

            const lastIndex = selectedVal.lastIndexOf("_");
            const sort = selectedVal.substring(0, lastIndex);
            const direction = selectedVal.substring(lastIndex + 1);

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);
            currentUrl.searchParams.set("page", "1");
            window.location.assign(currentUrl.href);
        });
    });
</script>
{% endblock %}