{% extends 'base.html' %}
{% load static %}
{% load get_stars_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <!-- Album Image -->
            {% if album.image %}
            <img class="img-fluid" src="{{ album.image.url }}" alt="Album Image">
            {% else %}
            <img class="img-fluid" src="{{ MEDIA_URL }}default_image/default.png" alt="Default Image">
            {% endif %}

            <!-- EDIT DELETE and Wishlist BUTTONS -->
            {% include "products/includes/edit_delete_wishlist_btns.html"%}

            <!-- REVIEWS and Ratings -->
            {% include "products/includes/reviews_ratings.html"%}
        </div>
        <!-- MODAL -->
        <div class="modal" tabindex="-1" id="wishlistModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">Add to Wishlist</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Would you like to add this album to your wishlist?</p>
                    </div>
                    <div class="modal-footer">

                        <a href="{% url 'products:albums'  %}" class=" reload btn btn-secondary">No,
                            thanks</a>
                        <a href="#" class="btn btn-primary add-to-wishlist-btn">Yes,
                            add to my wishlist</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" id="confirmationModal">
            <div class="modal-dialog">
                <div class="modal-content text-dark">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase text-decoration-underline" id="confirmationModalTitle">
                            Confirmation</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="confirmationModalBody">
                        <!-- Message  -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No,
                            thanks</button>
                        <a href="#" class="btn btn-primary" id="confirmationModalYesButton">Yes</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <!-- Add To Cart Form -->
            {% include "products/includes/add_to_cart.html" %}

            <!-- Album Details -->
            <div>
                <h2 class="mb-4 mt-3">{{ album.album_name }}</h2>
                {% if album.artists.all.count > 1 %}
                <div class="d-flex justify-content-between ">
                    <strong class="text-decoration-underline">Artists: </strong>
                    {% for artist in album.artists.all %}
                    {% if artist.spotify_url %}
                    <div class="d-flex justify-content-between artist-listing"><strong class="me-3">
                            {{ artist.artist_name }}
                        </strong>
                        <a href="{{ artist.spotify_url }}" target="_blank" rel="noopener noreferrer"
                            class="detail_spotify_link">
                            <span class="">Spotify</span>
                            <i class="fab fa-spotify spotify_icon"></i>
                        </a>
                    </div>
                    {% if not forloop.last %} {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
                {% else %}
                {% for artist in album.artists.all %}
                {% if artist.spotify_url %}
                <div class="d-flex justify-content-between artist-listing"><strong>Artist: {{ artist.artist_name }}
                    </strong>
                    <a href="{{ artist.spotify_url }}" target="_blank" rel="noopener noreferrer"
                        class="detail_spotify_link">
                        <span class="">Spotify</span>
                        <i class="fab fa-spotify spotify_icon"></i>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                <p><strong>Release Date:</strong> {{ album.release_date }}</p>
                <p><strong>Copyrights:</strong> {{ album.copyrights }}</p>
                <p><strong>Total Tracks:</strong> {{ album.total_tracks }}</p>
                <p><strong>Popularity:</strong> {{ album.popularity }}</p>
                <p><strong>Album Type:</strong> {{ album.album_type|capfirst }}</p>
                <p><strong>Label:</strong> {{ album.label }}</p>
                <p><strong>Price:</strong> €{{ album.price }}</p>
                {% if album.genres.all %}
                <p><strong>Genres:</strong>
                    {% for genre in album.genres.all %}
                    {{ genre.name|capfirst  }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% include "products/includes/album_tracks.html"%}

{% endblock %}
{% block postloadjs %}
{{ block.super }}

{% include 'products/includes/quantity_js_script.html' %}

<script>
    $(document).ready(function () {
        $(".confirmationModalTrigger").click(function (e) {
            e.preventDefault();

            // Get message and URL from data-
            var message = $(this).data("message");
            var url = $(this).data("url");

            // Set message 
            $("#confirmationModalBody").text(message);

            // Set the URL of 'Yes' button 
            $("#confirmationModalYesButton").attr("href", url);

            // Show modal
            $("#confirmationModal").modal("show");
        });
    });
</script>

<script>
    // Review Album Modal, set message and url
    $(document).ready(function () {
        $(".addReviewButton").click(function (e) {
            e.preventDefault();
            let albumId = this.dataset.albumid;

            fetch('/accounts/album/' + albumId + '/add_review/')
                .then(response => {

                    if (response.status === 401) {
                        // Get message and URL from data-
                        let message = 'You need to Login/Sign up to access this page.';
                        let url = '/accounts/login/';

                        // Set message 
                        $("#confirmationModalBody").text(message);

                        // Set the URL of 'Yes' button 
                        $("#confirmationModalYesButton").attr("href", url);

                        // Show modal
                        $("#confirmationModal").modal("show");
                    } else {
                        // Handle other responses
                        window.location.href = '/accounts/album/' + albumId + '/add_review/';
                    }
                });
        });
    });
</script>

{% endblock %}