{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}

<div class="container py-5">
    <div class="row">
        <div class="col-lg-6">
            <!-- Album Image -->
            {% if album.image %}
            <img class="img-fluid" src="{{ album.image.url }}" alt="Album Image">
            {% else %}
            <img class="img-fluid" src="{{ MEDIA_URL }}default_image/default.png" alt="Default Image">
            {% endif %}
        </div>
        {% if request.user.is_superuser %}
        <small class="ml-3">
            <a href="{% url 'edit_product' product.id %}">Edit</a> |
            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
        </small>
        {% endif %}
        <div class="col-lg-6">
            <!-- Album Details -->
            <h2 class="mb-4">{{ album.album_name }}</h2>
            <!-- <p><strong>Artist:</strong> {{ album.artists.all.first }}</p> -->

            {% if album.artists.all.count > 1 %}
            <p class="d-flex justify-content-between ">
                <strong class="text-decoration-underline">Artists: </strong>
                {% for artist in album.artists.all %}
                {% if artist.spotify_url %}
                <p class="d-flex justify-content-between artist-listing"><strong class="me-3">
                        {{ artist.artist_name }}
                    </strong>
                    <a href="{{ artist.spotify_url }}" target="_blank" rel="noopener noreferrer"
                        class="detail_spotify_link">
                        <span class="">Spotify</span>
                        <i class="fab fa-spotify spotify_icon"></i>
                    </a>
                </p>
                {% if not forloop.last %} {% endif %}
                {% endif %}
                {% endfor %}
            </p>
            {% else %}
            {% for artist in album.artists.all %}
            {% if artist.spotify_url %}
            <p class="d-flex justify-content-between artist-listing"><strong>Artist: {{ artist.artist_name }} </strong>
                <a href="{{ artist.spotify_url }}" target="_blank" rel="noopener noreferrer"
                    class="detail_spotify_link">
                    <span class="">Spotify</span>
                    <i class="fab fa-spotify spotify_icon"></i>
                </a>
            </p>


            {% endif %}
            {% endfor %}
            {% endif %}
            <p><strong>Release Date:</strong> {{ album.release_date }}</p>
            <p><strong>Copyrights:</strong> {{ album.copyrights }}</p>
            <p><strong>Total Tracks:</strong> {{ album.total_tracks }}</p>
            <p><strong>Popularity:</strong> {{ album.popularity }}</p>
            <p><strong>Album ID:</strong> {{ album.album_id }}</p>
            <p><strong>Album Type:</strong> {{ album.album_type|capfirst }}</p>
            <p><strong>Label:</strong> {{ album.label }}</p>
            <p><strong>Price:</strong> €{{ album.price }}</p>

            {% if album.genres.all %}
            <p><strong>Genres:</strong>
                {% for genre in album.genres.all %}
                {{ genre.name|capfirst  }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            {% endif %}

            <!-- Add To Cart Form -->
            <form class="form mt-4" action="{% url 'cart:add_to_cart' album.album_id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12">
                        <p class="mt-3"><strong>Quantity:</strong></p>
                        <div class="form-group w-50">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn  rounded-0" data-item_id="{{ album.album_id  }}"
                                        id="decrement-qty_{{ album.album_id  }}">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control qty_input form-control-qty" type="number" name="quantity"
                                    value="1" min="1" max="99" data-item_id="{{ album.album_id }}"
                                    id="id_qty_{{ album.album_id }}" oninput="this.value = Math.max(this.value, 1)">
                                <div class="input-group-append">
                                    <button class="increment-qty btn  rounded-0" data-item_id="{{ album.album_id  }}"
                                        id="increment-qty_{{ album.album_id  }}">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <a href="{% url 'products:albums' %}" class="btn btn-primary rounded-0 mt-5">
                            <span class="icon">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping </span>
                        </a>
                        <input type="submit" class="btn btn-secondary rounded-0 text-uppercase mt-5"
                            value="Add to Cart ">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>


        </div>
    </div>
    <!-- Spotify Link -->
    {% if album.spotify_url %}
    <div class="album_listing mt-5">
        <h3 class="album_name">
            <strong>Album: {{ album.album_name }} </strong>
        </h3>
        <p>
            <a href="{{ album.spotify_url }}" target="_blank" rel="noopener noreferrer" class="detail_spotify_link">
                <span class="">Spotify</span>
                <i class="fab fa-spotify spotify_icon"></i>
            </a>
        </p>
    </div>
    {% endif %}
    <!-- Tracks -->
    {% if album.tracks.all %}
    <div class="row mt-5">
        <div class="col-12">
            <h3>Tracks</h3>
            <ul>
                {% for track in album.tracks.all %}
                <li class="track_listing">
                    <div class="me-auto track_name">
                        <span class="me-2">{{ track.track_number }}</span>
                        <span>{{ track.track_name }}</span>
                    </div>
                    {% if track.spotify_url %}
                    <div>
                        <a href="{{ track.spotify_url }}" target="_blank" rel="noopener noreferrer"
                            class="detail_spotify_link">
                            <span class="">Spotify</span>
                            <i class="fab fa-spotify spotify_icon"></i>
                        </a>
                    </div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_js_script.html' %}
{% endblock %}