.order-history {
    max-height: 416px;
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.form-control-qty {
    background-color: #202041;
    border: 1px solid #fbe689;
    color: #f39237;
    padding: 10px;
    font-weight: bold;
    max-width: 100px;
    height: 38px;

}

.profile-container {
    border: 2px solid #bababa;
    background-color: #22223c;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.empty-wishlist {
    color: #fdc2fd;

    font-weight: bold;

}

.form-label {
    font-family: 'Arial', sans-serif;
    color: #fff;
}

.accordion-body,
.profile-dropdown-header {
    background-color: #22223c !important;
}

.request-heading {
    /* background-color: rgb(143, 203, 243) !important; */
    background: linear-gradient(to right, rgb(33, 222, 255), #fd02f5) !important;
    font-size: 1.1rem;
    font-weight: 600;

}

/* Styling the accordion button symbol */
.button-heading::after {

    color: #f6f2f2;

    content: "\2212";


    float: right;
    font-size: 1.5rem;

    text-align: right;
    transition: transform 0.6s ease;
}

/* Change symbol when the accordion is open */
.button-heading.collapsed::after {
    content: "\002B";
    /* Change symbol to '-' when the accordion is open */
    color: #f0f99d;

}

/* WISHLIST ITEMS  */
.wishlist-item {
    border: 2px solid #bababa;
    font-family: 'Arial', sans-serif;
    background-color: #22223c;

    padding: 10px;
    margin-bottom: 10px;

    border-radius: 5px;

}